{% extends "manager/layout.html" %}

{% load static %}      

{% block head %}
    <link rel="stylesheet" href="{% static 'manager/expenseStyles.css' %}" />
{% endblock head %}

{% block body %}

<div class="container">
    <div class="wrapper">
        <div class="box">
            
                {% if expense %}
                    <canvas id="myChart1" class="graph"></canvas>
                {% else %}
                    <img src="{% static 'media/chart-empty.svg' %}" style="-webkit-transform: scaleX(-1); transform: scaleX(-1);">
                {% endif %}
            
        </div>
    	<div class="box">
            
            {% if expense %}
                <canvas id="myChartSecond" class="graph"></canvas>
            {% else %}
                <img src="{% static 'media/chart-empty.svg' %}">
            {% endif %}
        
        </div>
    </div>
	<div class="table">
        <table class="flatTable">
            <tr class="titleTr">
              <td class="titleTd">EXPENSES</td>
              <td colspan="3"></td>
              <td class="plusTd button"><i class="fas fa-plus"></i></td>
            </tr>
            <tr class="headingTr">
              <td>CATEGORY</td>
              <td>DATE</td>
              <td>AMOUNT</td>
              <td>DESCRIPTION</td>
              <td></td>
            </tr>
            {% if expense %}
                {% if user.is_authenticated %}
                    {% for e in expense %}
                        {% if e.user == user.get_username %}
                            <tr>
                            <td>{{ e.expenseCategory }}</td>
                            <td>{{ e.expenseDate }}</td>
                            <td>{{ e.expenseAmount }}</td>
                            <td>{{ e.expenseDescription }}</td>
                            <td class="controlTd"><i class="fas fa-cog"></i>
                                <div class="settingsIcons">
                                    <span class="settingsIcon"><i class="fas fa-times"></i></span>
                                    <a href="{% url 'edit-expense-object' e.id %}" class="button settingsIcon">
                                        <i class="fa fa-edit" style="color: white;"></i>
                                    </a>
                                    <a href="{% url 'delete-expense-object' e.id %}" class="settingsIcon">
                                        <i class="fa fa-trash" style="color: red;"></i>
                                    </a>
                                </div> 
                            </td>
                            </tr>
                        {% endif %}
                    {% endfor%}
                {% endif %}
            {% else %}
                <tr style="text-align: center;">
                    <td rowspan="3" colspan="5">
                        <img src="{% static 'media/empty-expense-table.svg' %}">
                    </td>
                </tr>
                
            {% endif %}
          
        </table>
    </div>
    <div id="sForm" class="sForm {% if form_data %}open{% endif %}">
        <span class="button close"><i class="fas fa-times"></i></span>
        <h2 class="title">Add a New Expense</h2>  


        <div class="add-expense sFormPadding">        
            <div class="add-expense-body">
        
                <form action="{% if form_data %}{% url 'edit-expense-object' form_data.id %}{% else %}{% url 'expense' %}{% endif %}" class="form" method="post">
                    {% csrf_token %}
                    <div class="group">
                        <label for="amount">Expense Amount</label>
                        <input type="number" name="amount" placeholder="Enter your Expense Amount"
                        value="{% if form_data %}{{ form_data.expenseAmount }}{% endif %}"/>
                    </div>
                    <div class="group">
                        <label for="date">Select Date of Expense</label>
                        <input class="form-control" id="date" name="date" type="date" 
                        {% if date %}value="{{ date }}"{% endif %}/>
                    </div>
                    <div class="group">
                        <label for="category">Select Expense Category</label>
                        <select name="category">
                            {% if form_data %}
                            <option value="{{ form_data.expenseCategory }}">{{ form_data.expenseCategory }}</option>
                            {% endif %}
                            <option value="">Select</option>
                            <option value="Rent">Rent</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Groceries">Groceries</option>
                            <option value="Home and utilities">Home and utilities</option>
                            <option value="Bills & emis">Bills & emis</option>
                            <option value="Insurance">Insurance</option>
                            <option value="Education">Education</option>
                            <option value="Health">Health</option>
                            <option value="Personal care">Personal care</option>
                            <option value="Shopping">Shopping</option>
                            <option value="Travel">Travel</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Food and Dining">Food and Dining</option>
                            <option value="Memberships">Memberships</option>
                        </select>
                    </div>
                    <div class="group">
                        <label for="description">Expense Description</label>
                        <input type="text" name="description" placeholder="Enter Description"
                        value="{% if form_data %}{{ form_data.expenseDescription }}{% endif %}"/>
                    </div>
                    {% if user.is_authenticated %}
                        <input id="user" name="user" type="text" value="{{ user.get_username }}" style="visibility: hidden;"/>
                    {% endif %}
                    <div class="group">
                        <input type="submit" class="btn btn-blue" style="width: 40%; border: none;" value="Save"/>
                    </div>
                    
                </form>
            </div>
        </div>


    </div>
</div>

{% if message %}
    {% if status == "1" %}
        <div class="alert alert-success">{{ message }}</div>

    {% endif %}
    {% if status == "0" %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
{% endif %}

{% endblock body %}
{% if user.is_authenticated %}
<script>
    {% block jquery %}

        $(".button").click(function () {
            $("#sForm").toggleClass("open");   
        });

        $(".controlTd").click(function () {
            $(this).children(".settingsIcons").toggleClass("display"); 
            $(this).children(".settingsIcon").toggleClass("openIcon"); 
        });

        var color = ['#6200EA', '#B388FF', '#2196F382B1FF', '#8C9EFF', '#536DFE', '#1A237E', '#7E57C2', 
                    '#D1C4E9', '#673AB7', '#3F51B5', '#82B1FF', '#0D47A1', '#1565C0', '#651FFF'];
        
        var endpoint = "{% url 'api-chart-data' %}"
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data) {
                var ctx = document.getElementById('myChart1').getContext('2d');
                
                    var labels = data.expensePieData.map(function(e) {
                        if ( e.user === "{{ user.get_username }}" )
                            return e.expenseCategory;
                    });
                    
                    var data = data.expensePieData.map(function(e) {
                        if ( e.user === "{{ user.get_username }}" )
                            return e.expenseAmount__sum;
                    });
                console.log(labels);
                console.log(data);
                const config = {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'My First Dataset',
                            data: data,
                            backgroundColor: color,
                            hoverOffset: 4,
                            borderColor: "rgba(5,14,51,0.1)",   
                        }]
                    },
                    options: {
                        legend: {
                            labels: {
                                fontColor: "rgba(5,14,51,1)",
                                fontSize: 12,
                            }
                        },
                        scales: {
                            ticks: {
                                fontColor: "rgba(5,14,51,1)", // this here
                            },
                        }   
                    }
                };
                var myChart = new Chart(ctx, config)
            },
            error: function(error_data) {
                console.log("error")
                console.log(error_data)
            } 
        })

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data) {
                var lineGraph = document.getElementById('myChartSecond').getContext('2d');

                var llabels = data.expenseLineData.map(function(e) {
                    const month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
                    if ( e.user === "{{ user.get_username }}" )
                        return month[ parseInt(e.m) - 1];
                });
                var ldata = data.expenseLineData.map(function(e) {
                    if ( e.user === "{{ user.get_username }}" )
                        return e.expenseAmount__sum;
                });
                console.log(llabels);
                console.log(ldata);
                const lineData = {
                    labels: llabels,
                    datasets: [{
                        label: 'Expense',
                        data: ldata,
                        fill: false,
                        borderColor: '#311B92',
                        tension: 0.1
                    }]
                };
                const lineConfig = {
                    type: 'line',
                    data: lineData,
                    options: {
                        legend: {
                                labels: {
                                    fontColor: "rgba(5,14,51,1)",
                                    fontSize: 12,
                                }
                        },
                        scales: {
                            xAxes: [{ 
                                ticks: {
                                    fontColor: "rgba(5,14,51,1)", // this here
                                },
                            }],
                            yAxes: [{
                                ticks: {
                                    fontColor: "rgba(5,14,51,1)", // this here
                                },
                            }],
                        }   
                    }
                };
                
                var lineChart = new Chart(lineGraph, lineConfig)
            },
            error: function(error_data) {
                console.log("error")
                console.log(error_data)
            } 
        })

    {% endblock jquery %}
</script>
{% endif %}