{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wealth Manager</title>
        <link href="{% static 'manager/style.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/224b933d6f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>