{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wealth Manager</title>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/224b933d6f.js" crossorigin="anonymous"></script>
        <link href="{% static 'manager/style.css' %}" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% block head %}

        {% endblock head %}

    </head>
    <body style="background-image: url( {% static 'media/bg.jpg' %} )">
        <div class="logo">
            <img id="menu" src="{% static '/media/wealth_manager_logo.svg' %}" alt="logo" lazy loading="lazy" class="wmlogo" width="36px" height="36px">  
            <a href="#" class="hidden-sm"><h1>Wealth Manager</h1></a>
        </div>
        
        <aside class="sidenav hidden-sm hidden-md" id="nav">
            <div class="list">
                <a href="{% url 'index' %}" class="{% if nbar == 'home' %}active{% endif %}"><i class="fa fa-home"></i> Home</a>
                <a href="{% url 'expense' %}" class="{% if nbar == 'expense' %}active{% endif %}"><i class="fas fa-money-check"></i> Expense</a>
                <a href="{% url 'income' %}"class="{% if nbar == 'income' %}active{% endif %}"><i class="fas fa-coins"></i> Income</a>
                <a href="{% url 'assets' %}" class="{% if nbar == 'assets' %}active{% endif %}"><i class="fas fa-university"></i> Assets</a>
                <a href="{% url 'events' %}" class="{% if nbar == 'events' %}active{% endif %}"><i class="fas fa-hand-holding-usd"></i> Events</a>
                <a href="{% url 'profile' %}" class="{% if nbar == 'profile' %}active{% endif %}"><i class="fa fa-users"></i> Profile</a>
                <a href="{% url 'logout' %}" class="{% if nbar == 'logout' %}active{% endif %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </aside>
        
        <main class="content">
            {% block body %}

            {% endblock %}
        </main>
        <script src="{% static '/manager/main.js' %}"></script>
        <script>
            $(document).ready(function() {
                
                {% block jquery %}{% endblock %}
            })
        </script>
    </body>
</html>