{% extends "manager/layout.html" %}

{% load static %}      

{% block head %}
    <link rel="stylesheet" href="{% static 'manager/profileStyles.css' %}" />
    
{% endblock head %}
{% block body %}
{% if message %}
        <div class="alert alert-success">{{ message }}</div>
{% endif %}
<div class="container">
    <div class="profile-box">
        {% if user.is_authenticated %}
        <div>
            <h2>Hello, {{ user.get_short_name }}</h2>
            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                <div class="user-box">
                    <input type="text" name="username" required="" value="{{ user.get_username }}">
                    <label for="username">Username</label>
                </div>
                <div class="user-box">
                    <input type="text" name="name" required="" value="{{ user.get_full_name }}">
                    <label for="name">Name</label>
                </div>
                <div class="user-box">
                    <input type="email" name="email" required="" value="{{ user.email }}">
                    <label for="email">Email</label>
                </div>
                <button type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Save
                </button>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="download-box">
        <div>
            <h2>Download</h2>
            <a href="{% url 'profile-expense' %}" class="btn-slide2">
                <span class="circle2"><i class="fa fa-download"></i></span>
                <span class="title2">Expenses</span>
                <span class="title-hover2">Download</span>
            </a>
            <a href="{% url 'profile-income' %}" class="btn-slide2">
                <span class="circle2"><i class="fa fa-download"></i></span>
                <span class="title2">Income</span>
                <span class="title-hover2">Download</span>
            </a>
        </div>
    </div>
</div>

{% endblock body %}