.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container .grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
    margin-bottom: 16px;
    margin-right: 1.4rem;
}

@media only screen and (max-width: 52.25em) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    } 
}
   
@media only screen and (max-width: 37.5em) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    } 
}
      
.mini-reports {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    border-radius: 4px; 
    max-height: 74px;
    align-items: center;
}

.mini-reports .l {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.mini-reports .l .i {
    display: flex;
    flex-direction: row;
}

.mini-reports .l .i {
    display: flex;
    flex-direction: row;
}

.mini-reports .l .i i{
    color: #FFFAFF;
    font-size: 1.6rem; 
    justify-content: center;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.mini-reports .l span {
    font-size: 1.6rem;
    font-weight: 700; 
}

.mini-reports .l span:not(:last-child) {
    font-size: 1.6rem;
    letter-spacing: 2px; 
}

.mini-reports .r {
    background: #FFFAFF;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5rem 5rem 5rem rgba(74, 83, 90, 0.2); 
    cursor: pointer;
}

.mini-reports .b .r {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
    
.mini-reports .r i {
    font-size: 1rem; 
    color: rgba(5, 14, 51, 1);
}

.bg-blue {
    background-color: rgba(5, 14, 51, 1);
    color: #fffaff; 
    padding: 1rem;
}

.c-blue {
    color: #FFFAFF; 
}
.box {
    box-sizing: border-box;
    background-color: #FFFAFF;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 5px;
}
.graph {
    width: 50%;
}
.container .graph-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container .graph-wrapper .wrapper {
    display: flex;
    flex: 1;
}

.button-property,.button-gold,.button-fd,.button-ppf {
  text-align:center;
  cursor:pointer;
}

.sForm{
    position:absolute;
    top:0;
    width:400px;
    height:100%; 
    background: #FFFAFF;  
    overflow:hidden;      
    padding:0px;
    box-sizing:border-box;
    visibility: hidden;
}

.sForm .close{
    float:right; 
    height:48px;
    width: 80px;
    padding-top:16px;    
    box-sizing:border-box;
    background:rgba(5, 14, 51, 1);
    color:#FFFAFF;
}

#sForm-v-property .close{
    width: 32px;
}
#sForm-v-ppf .close {
    width: 32px;
}
#sForm-v-fd .close {
    width: 32px;
}
#sForm-v-gold .close {
    width: 32px;
}
  
.sForm .title{
    width:100%;
    height:64px;
    padding-top:20px;
    padding-left:20px;
    box-sizing:border-box;
    background:rgba(5, 14, 51, 1);
    color: #FFFAFF;
}

.open{  
    right:0;
    width:400px;
    visibility: visible !important;
}

.settingsIcons{
    position:absolute; 
    top:0;
    right:0;
    width:0;
    overflow:hidden;
}

.display{
    width:300px;
}

.settingsIcon{
  float:right; 
  background: rgba(5, 14, 51, 1);
  color: #FFFAFF;
  height:50px;
  width:80px;
  padding-top:15px;
  box-sizing:border-box;
  text-align:center;
  overflow:hidden;
  transition:width 1s;
}

.settingsIcon:hover{
  background:#6DB1FF;
}

tr:nth-child(3) .settingsIcon {
    height:51px;
}

.openIcon{
   width:80px; 
}

.sFormPadding {
    padding: 1rem 1rem 1rem 1rem;
}

.form label {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(5, 14, 51, 1); 
}
  
.form input, .form select {
    width: 100%;
    padding: 1.2rem 2rem;
    margin: .8rem 0;
    border: 1px solid rgba(5, 14, 51, 1);
    border-radius: 5px;
    font-size: 1.4rem; 
}

.form option {
    margin: 1rem 0; 
}

.form input[type=submit] {
    cursor: pointer; 
}

.btn-blue {
    background-color: #6DB1FF;
    color: #fffaff; 
    border:none;
}
.btn-blue:hover {
    background-color: #3a96ff;
}

input[type="date"], input[type="month"]{
    position: relative;
}

input[type="date"]:after,input[type="month"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f073";
    color: #555;
    padding: 0 5px;
}

input[type="date"]:hover:after,input[type="month"]:hover:after {
    color: #bf1400;
}

input[type="date"]::-webkit-calendar-picker-indicator,input[type="month"]::-webkit-calendar-picker-indicator  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

input[type="date"]::-webkit-inner-spin-button,input[type="month"]::-webkit-inner-spin-button {
    z-index: 1;
}

input[type="date"]::-webkit-clear-button, input[type="month"]::-webkit-clear-button {
     z-index: 1;
}