.grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); 
}
    
.grid:not(:last-child) {
    margin-bottom: 2rem; 
}
    
@media only screen and (max-width: 52.25em) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); 
    } 
}
   
@media only screen and (max-width: 37.5em) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); 
    } 
}
      
.mini-reports {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.5rem;
    border-radius: 4px; 
}

.mini-reports .l {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.mini-reports .l .i {
    display: flex;
    flex-direction: row;
}

.mini-reports .l .i i{
    color: #FFFAFF;
    font-size: 1.6rem; 
    justify-content: center;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.mini-reports .l span {
    font-size: 1.6rem;
    font-weight: 700; 
}

.mini-reports .l span:not(:last-child) {
        font-size: 1.6rem;
        letter-spacing: 2px; 
}

.mini-reports .r {
    background: #FFFAFF;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5rem 5rem 5rem rgba(74, 83, 90, 0.2); 
}
    
.mini-reports .r i {
    font-size: 1.6rem; 
    color: rgba(5, 14, 51, 1);
}

.bg-blue {
    background-color: rgba(5, 14, 51, 1);
    color: #fffaff; 
    padding: 1rem;
}

.c-blue {
    color: #FFFAFF; 
}