
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	box-sizing: border-box;
	background: rgba(5,14,51,0.9);
}
.container {
	display: flex;
	flex-direction: row;
}

.container .download-box {
	width: 50%;
	padding: 40px;
	margin:48px;
	text-align: center;
	background: rgba(255,255,255,0.16);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.4);
	border-radius: 10px;
}

.container  .download-box h2 {
	font-size: 2.6rem;;
	  margin: 0 0 36px;
	  padding: 0;
	  color: #FFFAFF;
	  text-align: center;
  }

.container .profile-box {
	width: 50%;
	padding: 40px;
	margin:48px;
	background: rgba(255,255,255,0.16);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.4);
	border-radius: 10px;
}
.container  .profile-box h2 {
  font-size: 2.6rem;;
	margin: 0 0 36px;
	padding: 0;
	color: #FFFAFF;
	text-align: center;
}

.container  .profile-box .user-box {
	position: relative;
  display: flex;
  flex-direction: row;
  background: transparent;
}

.container .profile-box .user-box label, p {
	width: 100%;
  padding: 1rem 0 0 0;
	font-size: 16px;
	color: #FFFAFF;
	margin-bottom: 16px;

}

.alert {
    width: 30rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-weight: 500; 
    align-self: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10rem;
    animation-name: myAnimation;
    animation-duration: 6000ms;
    animation-fill-mode: forwards;
}

.alert-danger {
    background: rgba(241, 97, 101, 0.2);
    color: #F16165; 
    border-color: #F16165;
    border-width: 1rem;
}

.alert-success {
    background: rgba(0, 200, 111, 0.2);
    color: #00C86F; 
    border-color: #00C86F;
    border-width: 1rem;
}

/* Download */
.btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #FFFAFF;
    border: 2px solid #99d2ff;
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid #99d2ff;
}

.btn-slide2:hover {
    background-color: #99d2ff;
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #FFFAFF;
    color: #99d2ff;
}

.btn-slide2:hover span.circle2 {
    color: rgba(5,14,51,1);
}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}
.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide2 span.circle2 {
    display: block;
    background-color: #99d2ff;
    color: rgba(5,14,51,1);
    position: absolute;
    float: left;
    margin: 3px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 i {
	position: absolute;
	left: 36%;
	top: 36%;
}

.btn-slide2 span.title2, .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #99d2ff;
    transition: .5s;
}

.btn-slide2 span.title2,.btn-slide2 span.title-hover2 {
    color: rgba(5,14,51,1);
    left: 80px;
  }
.btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}
.btn-slide2 span.title-hover2 {
    color: rgba(5,14,51,1);
}
