*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%; 
}

@media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; 
    } 
}
  
@media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; 
    } 
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
    background: rgba(5, 14, 51, 0.1); 
}

.logo {
    background:rgba(5, 14, 51, 1);
    width: 20rem;
    height: 5.6rem;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

@media only screen and (max-width: 75em) {
      .logo {
        padding: 0 2rem;
        justify-content: space-between; 
    } 
}

.logo a h1 {
    color: #FFFAFF;
    margin-left: 1.2rem;
    font-size: 1.6rem;  
}

#menu {
  font-size: 1rem; 
}

.sidenav {
  position: fixed;
  top: 5.6rem;
  left: 0;
  width: 20rem;
  height: calc(100vh - 5.6rem);
  padding: 2rem 0;
  overflow: auto;
  z-index: 2; 
  background: rgba(5, 14, 51, 1);
}
  
@media only screen and (max-width: 75em) {
    .sidenav {
      background: rgba(5, 14, 51, 1);
      box-shadow: 0.5rem 1rem 2rem rgba(83, 88, 93, 0.2);
      border-bottom-right-radius: 5px; 
    } 
}
  
.sidenav .list {
    display: flex;
    flex-direction: column; 
}
    
.sidenav .list a {
    font-size: 1.6rem;
    padding: .75rem 2rem;
    color: #FFFAFF; 
}
      
.sidenav .list a i {
    margin-right: 1.2rem;
    font-size: 1.2rem;
    color: #6DB1FF;
    color: inherit; 
}
      
.sidenav .list a:not(:last-child) {
    margin-bottom: 1rem; 
}
      
.sidenav .list a:hover {
    border-left: 4px solid rgba(5, 14, 51, 1);
    background: #99d2ff;
    color: rgba(5, 14, 51, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
}
    
.sidenav .list .active {
      background: #99d2ff;
      color: rgba(5, 14, 51, 1);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; 
}
.display-sm {
    display: none; 
}

@media only screen and (max-width: 52.25em) {
    .display-sm {
        display: inline-flex; 
    } 
}
  
.display-md {
    display: none; 
}

@media only screen and (max-width: 75em) {
    .display-md {
        display: inline-flex; 
    } 
}
  
@media only screen and (max-width: 52.25em) {
    .hidden-sm {
        display: none; 
    } 
}
  
@media only screen and (max-width: 75em) {
    .hidden-md {
        display: none; 
    } 
}
  
.visible {
    display: block !important; 
}

.content {
    margin-top: 1rem;
    margin-left: 20rem;
    padding: 2rem;
    height: 100vh;
    overflow-y: auto; 
}
    
@media only screen and (max-width: 75em) {
    .content {
        margin-left: 0; 
    } 
}
    
@media only screen and (max-width: 52.25em) {
    .content {
        margin-left: 0; 
    } 
}

@keyframes myAnimation{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
    }
}

.alert {
    width: 30rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-weight: 500; 
    align-self: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10rem;
    animation-name: myAnimation;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
}

.alert-danger {
    background: rgba(247, 50, 57, 0.2);
    color: #F16165; 
}

.alert-success {
    background: rgba(9, 226, 129, 0.2);
    color: #00C86F; 
}
